
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Myaccount" routerLinkActive="active">My Account</a>
      </li>
    </ul>

    <ul class="navbar-nav">
        <a class="nav-link"  *ngIf="!(isLoggedIn | async)" routerLink="/Login" routerLinkActive="active">Login</a>
        <a class="nav-link" style="cursor:pointer"  *ngIf="( isLoggedIn | async)" (click)="authservice.logoutUser()"> LogOut</a>
    </ul>
      
  </div>
</nav>

<div class="container" >
<router-outlet></router-outlet>
</div>


